packages: [
  "atom-material-syntax"
  "atom-material-ui"
  "auto-update-packages"
  "autoclose-html"
  "color-picker"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "linter"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-pigments"
  "minimap-selection"
  "open-recent"
  "package-sync"
  "pigments"
  "project-manager"
  "Remote-FTP"
  "script"
  "todo-show"
]
